# editors
.*.sw[mnop]
tags

# python
*.pyc
.tox
pfp.egg-info
venv*
__pycache__
.pycache
.cache
.coverage

# compilation
*.o
*-generator
*-parser
lextab.py
yacctab.py

# project related
docs/build
docs/source/generated
