# editors
.*.sw[mnop]
tags

# python
*.pyc
.tox
pfp.egg-info
venv*
__pycache__
.pycache
.cache
.coverage

# compilation
*.o
*-generator
*-parser
*_generator
*_parser
lextab.py
yacctab.py

# Automake etc.
Makefile
autom4te.cache
config.log
config.status
configure.ac
depcomp
.deps

# Random outputs
random.*

# project related
docs/build
docs/source/generated
