# generation
out.*
output.*

# editors
.idea
.vscode
.*.sw[mnop]
tags

# python
*.pyc
.tox
pfp.egg-info
venv*
__pycache__
.pycache
.cache
.coverage

# compilation
*.o
*.so
*.dSYM
midi*.cpp
pcap*.cpp
zip*.cpp
avi*.cpp
*-generator
*-parser
*-fuzzer
lextab.py
yacctab.py

# Automake etc.
# Note: While "*.in" files ARE derived,
# we want to include them in the git repo to make cloning easier
Makefile
autom4te.cache
config.log
config.status
config.h
stamp-*
.deps

# Github pages
.jekyll-cache/
_site/

# Garbage
.DS_Store
r0
r1
f0
f1

# Own files
*.code-workspace

# Random outputs
random.*

# project related
docs/build
docs/source/generated
